body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;
}
.orange{
    color: orange;
}
.flexible-container{
    display: flex;
}
.half-width{
    width: 50%;
    padding: 20px;
}
.half-width img{
    width: 80%;
    padding: 5px;
}
.link-btn{
    color: aliceblue;
    font-weight: bold;
    text-decoration: none;
    background-image: linear-gradient(orange, rgb(255, 34, 0));
    padding: 10px 40px;
    border-radius: 5px;
    letter-spacing: 1.5px;
    
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    margin-bottom: 150px;
}
.middle{
    background-image: url(images/dream-bg.png);
    background-size: 85px;
    background-repeat: no-repeat;
    background-position: right;
}
.second-para{
    padding-right: 80px;
}
.experience-area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 70px;
}
.third{
    margin-right: 30px;
    margin-left: 30px;
    border: 2px solid white;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 10px 10px 20px 10px rgb(186, 181, 181);
    border-radius: 7px;
    margin-bottom: 40px;
    height: 400px;
}
.third1{
    border-left: 7px solid rgb(0, 255, 132);
}
.third2{
    border-left: 7px solid blue;
}
h2{
    font-size: 30px;
}
.para{
    line-height: 30px;
    letter-spacing: 1px;
}
.footer{
    text-align: center;
}